---
import {
    info,
    infoContent,
    card,
    cardHeading,
    cardSubheading,
    avatar
} from './Info.css'

import GitHubIcon from '../Icons/GitHub.astro'
import React from '../Icons/React.astro'
---

<div class={info}>
    <React />
    <div class={infoContent}>
        <div class={card}>
            <img
                class={avatar}
                src='https://avatars.githubusercontent.com/u/24759563?v=4'
            />
            <div>
                <h2 class={cardHeading}>Mirko Basic</h2>
                <p class={cardSubheading}>Software Engineer</p>
            </div>
        </div>
        <p>
            Greetings and welcome traveler! 👋
            <br />
            <br />
             Our mission is to serve as a hub for the consolidation of knowledge
            related to React and its broader ecosystem. Our wish is to give back
            to the community! We are really excited to have you here and wish us
            an amazing journey together! 🎉
        </p>
        <p></p>
        <GitHubIcon width={20} height={20} fill='#aaa' />
    </div>
</div>
