---
import './reset.css';

import { header, headerContent, main, background }	from './Layout.css'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class={background} />
		<header class={header}>
			<div class={headerContent}>
			</div>
			<button id="theme-toggle">Toggle Theme</button>
		</header>
		<main class={main}>
			<slot />
		</main>
	</body>
</html>

<script>
	import { light, dark } from '../styles/vars.css';

	const html = document.querySelector('html')!;
	const themeToggleButton = document.querySelector('#theme-toggle')!;

	if (!html.className) html.className = dark;

	const toggleTheme = () => {
		const currentHtmlClassName = html.className;

		html.className = currentHtmlClassName.includes('light') ? dark : light;
	};

	themeToggleButton.addEventListener('click', toggleTheme);
</script>
