---
import { type Repository } from '../../models'
import { container, description } from './BlogCard.css'

interface Props {
    blog: Repository
}

const { blog } = Astro.props
---

<a href=`post/${blog.name}`>
    <div class={container}>
        <h2>{blog.name}</h2>
        <p class={description}>{blog.description}</p>
    </div>
</a>
